@using Uncas.GraphiteAlerts.Models.ViewModels
@model IEnumerable<Uncas.GraphiteAlerts.Models.ViewModels.AlertViewModel>

@{
    ViewBag.Title = "Alerts";
}

<meta http-equiv="refresh" content="10" />
<h2>Alerts</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Comments</th>
        <th>Time of last value</th>
    </tr>

    @foreach (AlertViewModel item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Level</td>
            <td>@item.Comments</td>
            <td>
                @if (item.Timestamp.HasValue)
                {
                    DateTime local = new DateTimeOffset(item.Timestamp.Value).ToLocalTime().DateTime;
                    @local.ToString("G")
                }
            </td>
            <td><a href="@item.ChartUrl">See more details</a></td>
        </tr>
    }

</table>

<p>Last refreshed @DateTime.Now.ToString("G")</p>