@using Uncas.GraphiteAlerts.Models
@using Uncas.GraphiteAlerts.Models.ViewModels
@model IEnumerable<Uncas.GraphiteAlerts.Models.ViewModels.AlertViewModel>

@{
    ViewBag.Title = "Alerts";
}

@functions
{

    private string GetClassName(AlertLevel level)
    {
        switch (level)
        {
            case AlertLevel.Warning:
                return "alert-warning";
            case AlertLevel.Critical:
                return "alert-danger";
            default:
                return string.Empty;
        }
    }

}

<meta http-equiv="refresh" content="10" />
<h2>Alerts</h2>

<table class="table-bordered table-condensed">
    <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Comments</th>
        <th>Time of last value</th>
    </tr>

    @foreach (AlertViewModel item in Model)
    {
        <tr class="@GetClassName(item.Level)">
            <td>@item.Name</td>
            <td>@item.Level</td>
            <td>@item.Comments</td>
            <td>
                @if (item.Timestamp.HasValue)
                {
                    DateTime local = new DateTimeOffset(item.Timestamp.Value).ToLocalTime().DateTime;
                    @local.ToString("g")
                }
            </td>
            <td><a href="@item.ChartUrl">See more details</a></td>
        </tr>
    }

</table>

<footer>
    <p>Last refreshed @DateTime.Now.ToString("G")</p>
</footer>